<div class="hero-unit">
	<h1>Aloha!</h1>
	<p>
		Welcome to my <%= link_to "One month rails trial", "http://www.estoytanaburrido.blogspot.com" %> first web app by <%= link_to "Sergio Felgueres", "http://twitter.com/sfelgueres" %>
	</p>

	<p> 
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %> 
	</p>
</div>