<div class="footer">
		<small> 
			<%= link_to "One month rails trial", "http://www.estoytanaburrido.blogspot.com" %> first web app by <%= link_to "Sergio Felgueres", "http://twitter.com/sfelgueres" %>
		</small>
	</div>
